[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://github.com/azerothcore/mod-aoe-loot.git
[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = https://github.com/ZhengPeiRu21/mod-individual-progression.git
[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/mod-playerbots/mod-playerbots.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://github.com/azerothcore/mod-autobalance.git
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/NathanHandley/mod-ah-bot-plus.git
[submodule "modules/mod-gain-honor-guard"]
	path = modules/mod-gain-honor-guard
	url = https://github.com/azerothcore/mod-gain-honor-guard.git
[submodule "modules/mod-random-enchants"]
	path = modules/mod-random-enchants
	url = https://github.com/azerothcore/mod-random-enchants.git
[submodule "modules/mod-solo-lfg"]
	path = modules/mod-solo-lfg
	url = https://github.com/azerothcore/mod-solo-lfg.git
[submodule "modules/mod-TimeIsTime"]
	path = modules/mod-TimeIsTime
	url = https://github.com/dunjeon/mod-TimeIsTime.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/azerothcore/mod-ah-bot.git
